# Set update schedule for GitHub Actions

version: 2
updates:
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - "/.github/actions"
      - "/.github/workflows"
      - "/actions"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
    labels:
      - "dependencies"
    groups:
      all-actions:
        applies-to: version-updates
        patterns:
          - "*"
        exclude-patterns:
          # These actions require major release updates
          - "actions/upload-artifact"
          - "actions/download-artifact"
