#!/usr/bin/env bash

# Load parent environment
source_up

# Copy the example env if not already present
[ -f "$PWD/.env" ] || cp "$PWD/.env.example" "$PWD/.env"
dotenv "$PWD/.env"

# Install the pre-commit hook
[ -f .git/hooks/pre-commit ] || pre-commit install
