{
  "blocks": [
    {
      "type": "header",
      "text": {
        "type": "plain_text",
        "emoji": true,
        "text": ":{{ env("EMOJI") }}: {{ env("TYPE") | title }} {{ env("STATUS") }} for {{ env("APPLICATION") }}"
      }
    },
    {
      "type": "divider"
    },
    {
      "type": "section",
      "text": {
        "type": "mrkdwn",
        "text": "{{ env("MESSAGE") }}"
      }
    },
    {
      "type": "section",
      "fields": [
        {
          "type": "mrkdwn",
          "text": "*Repository*"
        },
        {
          "type": "mrkdwn",
          "text": "*Github Ref*"
        },
        {
          "type": "mrkdwn",
          "text": "<https://github.com/{{ env("REPOSITORY") }}|{{ env("REPOSITORY") }}>"
        },
        {
          "type": "mrkdwn",
          "text": "<https://github.com/{{ env("REPOSITORY") }}/tree/{{ env("REF") }}|{{ env("REF") }}>"
        }
      ]
    },
    {
      "type": "section",
      "fields": [
        {
          "type": "mrkdwn",
          "text": "*Environment*"
        },
        {
          "type": "mrkdwn",
          "text": "*Actor*"
        },
        {
          "type": "mrkdwn",
          "text": "<{{ env("LINK") }}|{{ env("ENVIRONMENT") }}>"
        },
        {
          "type": "plain_text",
          "text": "{{ env("ACTOR") }}"
        }
      ]
    },
    {
      "type": "context",
      "elements": [
        {
          "type": "mrkdwn",
          "text": "<https://github.com/{{ env("REPOSITORY") }}/actions/runs/{{ env("RUN_ID") }}|Run {{ env("RUN_ID") }}>"
        },
        {
          "type": "mrkdwn",
          "text": "<!date^{{ timestamp }}^{date_short_pretty} at {time}|February 18th, 2014 at 6:39 AM PST>"
        }
      ]
    }
  ]
}
