---

name: 'Notify slack'

on:
  workflow_call:
    inputs:
      application:
        description: 'The friendly name for the application'
        type: string
        required: true

      environment:
        description: |
          The environment variables to pass to the render.  Each environment
          variable should be in format VAR=VAL with one on each line.
          Example:
            environment: |
              FOO=bar
              BAR=baz
        type: string
        required: false
        default: ''

      undefined:
        description: 'If true, undefined variables will be used in templates (no error will be raised)'
        type: string
        required: false
        default: 'false'

      version:
        description: 'The version that is being deployed'
        type: string
        default: ${{ github.ref }}

      type:
        description: 'The type of action that is being performed such as build or deployment'
        type: string
        required: true

      status:
        description: 'The status of the deployment.  Options are started, success, and failure'
        type: string
        required: true

    secrets:
      slack_webhook_url:
        description: 'The slack webhook url to post the message to'
        required: true

defaults:
  run:
    shell: bash

jobs:
  notify:
  - name: 'Test publish slack notification workflow'
    uses: shopsmart/github-actions/.github/actions/test-notify-slack@feature/slack-notify
    #./.github/actions/test-notify-slack
    with:
      application: ${{ inputs.application }}
      environment: ${{ inputs.environment }}
      status: ${{ inputs.status }}
      type: ${{ inputs.type }}
