---

name: 'Run setup-homebrew action'

on:
  pull_request:
    paths:
      - actions/setup-homebrew/*

defaults:
  run:
    shell: bash

jobs:
  test-setup-homebrew-action:
    name: 'Uses the setup-homebrew action'
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: 'Checkout actions'
        uses: actions/checkout@v5

      - name: 'Test setup-brew action'
        uses: ./.github/actions/test-setup-homebrew
