---

name: 'Notify slack'

on:
  push:
    # inputs:
    #   application:
    #     description: 'The friendly name for the application'
    #     type: string
    #     required: true
    #   environment:
    #     description: 'The environment that is being targeted for this deployment'
    #     type: string
    #     required: true

permissions:
  id-token: write # aws auth
  contents: write # publish release assets

defaults:
  run:
    shell: bash

jobs:
  test-notify-slack:
    uses: ./.github/workflows/notify-slack.yml
    with:
      application: engagement
      environment: staging
      status: success
      type: deployment
      version: v1.0.56
      webhook: ${{ inputs.SLACK_WEBHOOK_URL }}
