---

name: 'Run notify-slack action'

on:
  pull_request:
    paths:
      - actions/notify-slack/*

defaults:
  run:
    shell: bash

jobs:
  test-notify-slack-action:
    name: 'Uses the notify-slack action'
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: 'Test notify-slack action'
        id: notify
        uses: .github/actions/test-notify-slack
        with:
          application: github-actions
          environment: staging
          status: ${{ steps.check.outputs.status }}
          type: deployment
          version: v1.0.56
          template: ${{ inputs.template }}
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: 'Checkout actions'
        uses: actions/checkout@v3

      - name: 'Check workflow status'
        if: ${{ steps.notify.outputs.status == 'failure' }}
        run: echo "Workflow failed"

      - name: 'Check workflow status'
        if: ${{ steps.notify.outputs.status == 'cancelled' }}
        run: echo "Workflow was cancelled"

      - name: 'Check workflow status'
        if: ${{ steps.notify.outputs.status == 'success' }}
        run: echo "Workflow was successful"
