---

name: 'Run notify-slack action'

on:
  pull_request:
    paths:
      - actions/notify-slack/*

defaults:
  run:
    shell: bash

jobs:
  test-notify-slack-action:
    name: 'Uses the notify-slack action'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout actions'
        uses: actions/checkout@v3

      - name: 'Test notify-slack action'
        uses: ./.github/actions/test-notify-slack
        with:
          application: github-actions
          environment: staging
          status: success
          type: deployment
          version: v1.0.56
          template: ${{ inputs.template }}
