---

  name: 'Run render-jinjanator-template action'

  on:
    pull_request:
      paths:
        - actions/render-jinjanator-template/*
        - .github/actions/test-render-jinjanator-template/*

  permissions:
    id-token: write
    contents: read

  defaults:
    run:
      shell: bash

  jobs:
    test-render-jinjanator-template-action:
      name: 'Uses the render-jinjanator-template action'
      runs-on: ubuntu-latest
      steps:
        - name: 'Checkout actions'
          uses: actions/checkout@v3

        - name: 'Test render-jinjanator-template action'
          uses: ./.github/actions/test-render-jinjanator-template
          with:
            aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}
