---

name: 'Run register-task-definition workflow'

on:
  pull_request:
    paths:
      - .github/workflows/register-task-definition.yml
      - .github/actions/test-register-task-definition/*

permissions:
  id-token: write # aws auth
  contents: write # publish release assets

defaults:
  run:
    shell: bash

jobs:
  upload-task-definition:
    name: 'Upload task definition'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3

      # TODO - How do we do this without the task definition file
      # being exposed with an account id in it?
      # - name: 'Create task definition file'
      # Normally we would render the task definition with the account id

      - name: 'Upload task definition file'
        uses: actions/upload-artifact@v2
        with:
          name: task-definition
          paths: .github/actions/test-register-task-definition/task-definition.yml

  run-register-task-definition-workflow:
    uses: ./.github/workflows/register-task-definition.yml
    with:
      role-name: github-actions-tests
      aws-region: 'us-east-1'
    secrets:
      aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}

  test-register-task-definition-workflow:
    name: 'Uses the register-task-definition workflow'
    runs-on: ubuntu-latest
    needs: run-register-task-definition-workflow
    steps:
      - name: 'Checkout actions'
        uses: actions/checkout@v2

      - name: 'Test register-task-definition workflow'
        uses: ./.github/actions/test-register-task-definition
        with:
          aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}
          ref: ${{ github.sha }}
