---

name: 'Run register-task-definition workflow'

on:
  pull_request:
    paths:
      - .github/workflows/register-task-definition.yml
      - .github/actions/test-register-task-definition/*

permissions:
  id-token: write # aws auth
  contents: write # publish release assets

defaults:
  run:
    shell: bash

jobs:
  upload-task-definition:
    name: 'Upload task definition'
    runs-on: ubuntu-latest
    env:
      ACTION_PATH: .github/actions/test-register-task-definition
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3

      - name: 'Rewrite task definition file'
        shell: bash
        run: |
          sed -i.bak 's/{{ tag }}/${{ github.sha }}/g' '${{ env.ACTION_PATH }}/task-definition.yml'
          sed -i.bak 's/{{ account_id }}/${{ secrets.AWS_ACCOUNT_ID }}/g' '${{ env.ACTION_PATH }}/task-definition.yml'

      - name: 'Upload task definition file'
        uses: actions/upload-artifact@v4
        with:
          name: task-definition-renamed
          path: ${{ env.ACTION_PATH }}/task-definition.yml

  run-register-task-definition-workflow:
    uses: ./.github/workflows/register-task-definition.yml
    needs: upload-task-definition
    with:
      artifact-name: task-definition-renamed
      role-name: github-actions-tests
      aws-region: 'us-east-1'
      task-definition-tags: version=${{ github.sha }}
    secrets:
      aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}

  test-register-task-definition-workflow:
    name: 'Uses the register-task-definition workflow'
    runs-on: ubuntu-latest
    needs: run-register-task-definition-workflow
    env:
      TASK_DEFINITION_ARN: arn:aws:ecs:us-east-1:${{ secrets.AWS_ACCOUNT_ID }}:task-definition/github-actions-tests:${{ needs.run-register-task-definition-workflow.outputs.revision-number }}
    steps:
      - name: 'Checkout actions'
        uses: actions/checkout@v2

      - name: 'Test register-task-definition workflow'
        uses: ./.github/actions/test-register-task-definition
        with:
          task-definition-arn: ${{ env.TASK_DEFINITION_ARN }}
          aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}
