---

name: 'Run unpack-archive action'

on:
  pull_request:
    paths:
      - actions/unpack-archive/*

defaults:
  run:
    shell: bash

jobs:
  test-unpack-archive-action:
    name: 'Uses the unpack-archive action'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout actions'
        uses: actions/checkout@v5

      - name: 'Test unpack-archive action'
        uses: ./.github/actions/test-unpack-archive
