---

name: 'Run notify-slack workflow'

on:
  pull_request:
    paths:
      - .github/workflows/notify-slack.yml
      - .github/actions/test-notify-slack/*

defaults:
  run:
    shell: bash

jobs:
  run-notify-slack-workflow:
    uses: shopsmart/github-actions/.github/workflows/notify-slack.yml@feature/slack-notify
    with:
      application: github-actions
      environment: staging
      status: ${{ inputs.status}}
      type: deployment
      version: v1.0.56
      template: ${{ inputs.template }}
    secrets:
      slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
