---

name: 'Notify slack'

on:
  pull_request:
    inputs:
      application:
        description: 'The friendly name for the application'
        type: string
        required: true
      environment:
        description: 'The environment that is being targeted for this deployment'
        type: string
        required: true

permissions:
  id-token: write # aws auth
  contents: write # publish release assets

defaults:
  run:
    shell: bash

jobs:
  test-notify-slack:
    uses: ./.github/workflows/notify-slack.yml
    with:
      application: engagement
      environment: staging
      status: build
      type: success
      version: v1.0.56
