---

name: 'Run package-archive action'

on:
  pull_request:
    paths:
      - actions/package-archive/*

defaults:
  run:
    shell: bash

jobs:
  test-package-archive-action:
    name: 'Uses the package-archive action'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout actions'
        uses: actions/checkout@v5

      - name: 'Test package-archive action'
        uses: ./.github/actions/test-package-archive
