---

name: 'Run notify-slack workflow'

on:
  pull_request:
    paths:
      - .github/workflows/notify-slack.yml
      - .github/actions/test-notify-slack/*

defaults:
  run:
    shell: bash

jobs:
  run-notify-slack-workflow:
    name: 'Uses the notfy-slack workflow'
    runs-on: ubuntu-latest
    if: always()
    steps:
    - name: 'Check workflow status'
      id: check
      uses: martialonline/workflow-status@v3

    - name: 'Test notify-slack workflow'
      uses: shopsmart/github-actions/.github/workflows/notify-slack.yml@feature/slack-notify
      with:
        application: github-actions
        environment: staging
        status: success
        type: deployment
        version: v1.0.56
        template: ${{ inputs.template }}
      secrets:
        slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
