---

name: 'Run tag-ecs-resource action'

on:
  pull_request:
    paths:
      - actions/tag-ecs-resource/*
      - .github/actions/test-tag-ecs-resource/*

permissions:
  id-token: write
  contents: read

defaults:
  run:
    shell: bash

jobs:
  test-tag-ecs-resource-action:
    name: 'Uses the tag-ecs-resource action'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout actions'
        uses: actions/checkout@v5

      - name: 'Test tag-ecs-resource action'
        uses: ./.github/actions/test-tag-ecs-resource
        with:
          aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}
