---

name: 'Validate pull request'

on:
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  pre-commit:
    name: 'Pre-commit check'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: 'Run pre-commit'
        uses: pre-commit/action@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: 'Run tests'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2

      - name: 'Install bats'
        run: |
          # Add brews to the path
          echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
          # Setup brew environment
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          # Install bats
          brew install bats-core

      - name: 'Run action tests'
        run: bats -r actions/*/*.bats
